
/* "h1" ja "h2" ovat otsikko tyylejä ja näitä muokattu olemaan sivun keskeellä 
sekä h2 lisätty hieman lisä tilaa sen ylä puolelle*/
h1 { 
    text-align: center;

}

h2 {
    text-align: center;
    padding-top: 3pc;
}

/* Tässä on muokattu tekstejä jakavaa lilan väristä ohutta viivaa. Viivojen pituudet 
määritelty, sekä väri ja viivan korkeus */
.jakaja{
  height: 3px;
  margin-left: 10pc;
  margin-right: 10pc;
  background-color: rgb(188, 68, 240);
      
}


/* Tekstille määriteltiin fontti, sen sijainti keskelle sivustoa sekä tilaa tekstin
ympärille */
p {
  padding-left: 15pc;
  padding-right: 15pc;
  padding-bottom: 3pc;
  text-align: center;
  font-family: Arial;

}

/* Tämän avulla poistin navigoinnin teskteistä alaviivat */
a {
  text-decoration: none;
}

/* Tässä asettelin "Itsestäni" sivun kuvat yhteen riviin ja lisäsin alas tilaa
jotta kuvat saisivat enemmän tilaa ympärilleen ja niitä olisi mukavampi katsella */
.row {
  flex-direction: row;
  display: flex;
  margin-bottom: 100px;
}

/* Määrittelin "Koulutus" sivun Gooogle Maps ikkunan sijainnin sivulla sekä
kokoa ja hieman lisäsin tilaa alapuolelle */
.kartta {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

/* Asetin kuvat olemaan keskellä, kuvien koon sekä tein reunoista hieman kaarevia
ja lisäsin hieman varjostusta kuvien taustalle. */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 23%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* Tässä muokattiin navigaation nappien ulkoasua */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

/* Tässä määritelty tarkemmin, miltä napit näyttävät puhelin näkymässä */
@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}


/* Tässä määrittelin etusivulla olevan kuvan kokoa puhelin näkymässä */
@media only screen and (max-width: 480px) {   
  .hissikuva {    
   width: 60%;
  height: auto;  
  } 

  /* Tässä määriteltiin lilan katkoviivojen ulkoasua tekstien välissä
  puhelin näkymässä */
  .jakaja{
    height: 3px;
    margin-left: 2pc;
    margin-right: 2pc;
    background-color: rgb(188, 68, 240);
      
  }

  /* Tässä määrittelin miltä tekstin ulkoasu ja sijainti näyttäisi 
  puhelin näkymässä */
  p {
    padding-left: 1pc;
  padding-right: 1pc;
  padding-bottom: 2pc;
  text-align: center;
  font-family: Arial;
  }
  }

  